@using Microsoft.AspNetCore.Http.Features
@*<div class="row justify-content-center">*@
    <div class="row container-fluid justify-content-center">
        <a href="~/index"><img class="img-fluid" src="~/images/bouvet_banner.png" /></a>
    </div>
@*</div>*@
