@page
@model BouvetØlsmaking.Pages.AdminModel
@{
    ViewData["Title"] = "Admin";
}

@if (TempData["CustomError"] != null)
{
    <div class="alert alert-danger">
        @TempData["CustomError"]
    </div>

    return;
}

<h2>Admin</h2>
<div class="row justify-content-center">

    <div class="col-xs-2">
        &nbsp;
    </div>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://youtu.be/HhoUl1-_cNw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    @*<div class="col">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/_iyESLymg14" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>*@
    <div class="col-xs-2">
        &nbsp;
    </div>
</div>

<p>&nbsp;</p>

<div class="row">
    <div class="col-sm-2">
        <a href=".\Beers">Beers</a>
    </div>
    <div class="col-sm-2">
        <a href=".\Breweries">Breweries</a>
    </div>
    <div class="col-sm-2">
        <a href=".\Tasters">Tasters</a>
    </div>
    <div class="col-sm-2">
        <a href=".\Tastings">Tastings</a>
    </div>
    <div class="col-sm-2">
        <a href=".\Facts">Beer facts</a>
    </div>
</div>
