@page
@using Microsoft.AspNetCore.Http
@using BouvetØlsmaking.Models
@model BouvetØlsmaking.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>
    <div class="row">
        <div class="col">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label>E-mail address</label>
                    <input asp-for="EmailAddress" class="form-control" />
                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Display name</label>
                    <input asp-for="DisplayName" class="form-control" />
                    <span asp-validation-for="DisplayName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-info btn-sm d-md-inline-block" />
                </div>
            </form>
        </div>
    </div>